{% extends 'dashboard.html' %}

{% block main %}
    <h1>文章列表</h1>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>序号</th>
        <th>id</th>
        <th>标题</th>
        <th>分类</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    {% for article in all_article %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ article.pk }}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.category|default:'-'  }}</td>
        <td>{{ article.create_time }}</td>
        </tr>

    {% endfor %}

    </tbody>
    </table>
{% endblock %}